@import './default.scss';

.preview-container {
  min-height: 450px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  &.show-background {
    background-image: url('../img/bg-preview-box-search.png');
  }

  // Marker black
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.313);
    opacity: 0;
    z-index: -1;
    transition: 0.25s all;
  }

  &.box.mark-show::before {
    z-index: 1;
    opacity: 1;
  }

  .icon-search-box {
    margin-left: 5px;
    margin-right: 5px;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .wrap-input-search {
    width: 100%;

    .input-search-box {
      width: calc(100% - 80px);
      height: 40px;
      padding: 0 12px;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      transition: border-color 0.3s;
      margin-right: 5px;
      position: relative;

      font-size: var(--font-size-box-search, 16px);
      color: var(--color-text-box-search, #000000);

      &:focus {
        border-color: var(--color-text-box-search, #007bff);
      }
    }

    // After icon search
    &::after {
      content: "\F0349";
      position: relative;
      font: normal normal normal 24px / 1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      right: 35px;
      top: 3px;
      font-size: 17px;
    }
  }

  .button-search-box {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 999;

    position: absolute;
    right: calc(20px + var(--padding-box-search, 0px));
    top: calc(20px + var(--padding-box-search, 0px));

    color: var(--color-text-search-box-search, #007bff);
    background-color: var(--color-background-text-search-box-search, transparent);
    border-radius: var(--color-radius-button-search-box-search, 10px);

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;
      opacity: 0;
      border-radius: inherit;
      z-index: -1;
      transition: 0.25s all;
    }

    &:hover {
      &::before {
        opacity: 0.5;
        z-index: 2;
      }
    }
  }

  .panel-box-search {
    position: absolute;
    margin: 0 auto;
    opacity: 1;
    z-index: 10;
    overflow: hidden;
    transition: all 0.15s;

    top: 20px;
    right: 20px;

    height: 420px;
    width: 100%;
    max-width: 350px;

    background-color: var(--background-color-box-search, #ffffff);
    border-radius: var(--border-radius-box-search, 10px);
    padding: var(--padding-box-search, 15px);
    box-shadow: var(--box-shadow-box-search, 0 2px 8px rgba(0, 0, 0, 0.15));
    border: var(--border-border-size-box-search) solid rgba(0, 0, 0, 0.1);
    font-family: var(--font-family-box-search, Arial, sans-serif);
    font-size: var(--font-size-box-search, 16px);

    &.hide {
      opacity: 0;
      height: 0px;
      pointer-events: none;
    }

    &.fullscreen {
      padding: 10px 100px;
      width: 100%;
      height: 100%;
      max-width: none;
      top: 0;
      right: 0;
    }

    &.fullscreen_blur {
      padding: 10px 100px;
      position: absolute;
      max-width: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(20px);
      background-color: rgba(255, 255, 255, 25%);

      .result-search-container {
        padding: 0 10px;

        .result-search-summary {
          background-color: #fff;
          border-radius: 10px;
          padding: 20px;
          margin-bottom: 10px;
        }

        .result-search-item {
          background-color: #ffffffe6;
          border-radius: 10px;
          margin-bottom: 10px;
          padding: 10px;
        }
      }
    }
  }

  .result-search-container {
    overflow: auto;
    height: calc(100% - 60px);
    margin-top: 10px;

    .result-search-item {
      padding: 10px;
      border-bottom: 1px solid #eee;
      transition: all 0.3s;

      &:hover {
        background-color: #fff;
      }

      .result-search-title {
        font-size: calc(var(--font-size-box-search, 16px) + 2px);
        font-weight: bold;
        color: var(--color-text-box-search, #000000);
        margin-bottom: 5px;
        margin-left: 5px;
      }

      .result-search-url {
        font-size: 14px;
        color: var(--color-url-box-search, #007bff);
      }
    }
  }
}