<head>
<title>サテライトオフィス - ファイル管理</title>
<style type="text/css">
	body {
		font-family: Meiryo, メイリオ, 'MS UI Gothic', 'MS PGothic', Osaka, Arial, sans-serif;
		font-size:14px;
		text-align:center;
		margin:0px;
		padding:0px;
	}
	table.layout {
		border:0px none;
	}
	tr.layout {
		border:0px none;
	}
	td.layout {
		border:0px none;
	}
	p.title {
		font-size: 16px;
		border-left: solid 15px #0CAC07;
		padding: 0px 0px 0px 18px;
	}

</style>
</head>
<body>
サテライトオフィス・ファイル管理は、Google Appsドメイン「{{ google_apps_domain }}」に導入されていません。詳しくは、システム管理者までお問い合わせ下さい。
</body>
