<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="/static/frontend/assets/favicon.B3KaBvkL.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Sateraito.AI（サテライト エーアイ）ChatGPT:(株)サテライトオフィス</title>
    <meta name="Description" content="サテライトオフィス 企業活用ChatGPT(チャットGPT)/Azure OpenAI Service 導入支援/サテライトオフィスのAIソリューションは、「サテライトAI」ブランドとして提供していきます！ChatGPT/Azure OpenAI Service の導入支援は、サテライトオフィスにご相談下さい！">
    <meta name="Keywords" content="サテライトAI,Sateraito.AI（サテライト エーアイ）,ChatGPT(チャットGPT),Azure OpenAI Service,サテライトオフィス">
    <meta name="author" content="サテライトオフィス株式会社">
    
    <script type="module" crossorigin src="/static/frontend/assets/main-D7PhxBW9.js"></script>
    <link rel="stylesheet" crossorigin href="/static/frontend/assets/main.2qX_EzFy.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
