<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Sateraito.AI（サテライト エーアイ）ChatGPT:(株)サテライトオフィス</title>
  <meta name="Description"
    content="サテライトオフィス 企業活用ChatGPT(チャットGPT)/Azure OpenAI Service 導入支援/サテライトオフィスのAIソリューションは、「サテライトAI」ブランドとして提供していきます！ChatGPT/Azure OpenAI Service の導入支援は、サテライトオフィスにご相談下さい！">
  <meta name="Keywords" content="サテライトAI,Sateraito.AI（サテライト エーアイ）,ChatGPT(チャットGPT),Azure OpenAI Service,サテライトオフィス">
  <meta name="author" content="サテライトオフィス株式会社">

  <link rel="shortcut icon" href="/static/frontend/assets/favicon.c8a574ac.ico">

  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">

  
  <link href="/static/frontend/assets/light.1758081128133.css" rel="stylesheet" class="js-stylesheet">
  

  <script type="module" crossorigin src="/static/frontend/assets/main-3e3ac2f7.js"></script>
  <link rel="stylesheet" href="/static/frontend/assets/index.16eab845.css">
</head>

<body>
  <div id="root"></div>
  
</body>

</html>