@charset "UTF-8";

@import url(base.css?v=20220511-01);
@import url(input.css?v=20220511-01);


img {
	display: inline-block;
	max-width:100%;
	max-height: 100%;
	vertical-align: bottom;}

.sp {
	display: none !important;}

/*-------------------------------------------------
	++ header
-------------------------------------------------*/
#header {
	width: 100%;
	background-color: #00923a;
	padding: 8px 0;}
#logo {
    float: left;}

#bggray {
	width: 100%;
	background-color: #f2f2f2;
	padding: 30px 0;}
.Title {
    font-size: 120%;
    display: block;
    margin-bottom: 15px;
    text-align: center;}

.btn_clause {
	float: right;
	display: block;
	margin: 20px auto 0 auto;
	text-align: center;}
.btn_clause a {
	display:inline-block;
	line-height:1;
	padding:15px 10px 12px 10px;
	border-radius:25px;
	margin: 0;
	min-width:170px;
	background:#FFFFFF;
	white-space: nowrap;
	color:#00923a;}

/*-------------------------------------------------
	++ CONTENTS COMMON
-------------------------------------------------*/
.cInner {
	display:block;
	clear:both;
	width:1000px;
	margin:0 auto;}

#content {
	margin:0 auto;
	padding:30px 0;
	background:#FFF;}


/*-------------------------------------------------
	++ register
-------------------------------------------------*/
.registerBlock {
	width: 830px;
	position: relative;
	padding:0px;
	margin: 0px auto;}
.registerBlock dl {
	margin-bottom:30px;}
.registerBlock  dl:nth-last-of-type(1) {
	margin-bottom:0;}
.registerBlock dt {
	margin-bottom:5px;
	font-weight: bold;}

.registerBlock.confirm  dl {
	border-bottom: 1px #c8c8c8 solid;}
.registerBlock.confirm  dl dt {
	float:left;
	width:35%;}
.registerBlock.confirm  dl dd {
	float:left;}

.registerBlock.confirm2  dl {
	border-bottom: 1px #c8c8c8 solid;}

.req {
	display:inline-block;
	border: 1px #fd0004 solid;
	border-radius:3px;
	font-size:14px;
	line-height:1;
	color:#fd0004;
	font-weight: normal;
	padding:4px 5px 2px 5px;
	margin-left: 10px;}

.bigBtn li {
	width:50%;
	padding-right: 10px;
	float:left;
	margin:50px 0 20px 0;}
.bigBtn2 li {
	width:30%;
	padding: 0px;
	margin:20px auto;}
.bigBtn li:last-child {
	padding-right: 0;}
.bigBtn ul li a,
.bigBtn2 ul li a {
	display:block;
	width:100%;
	border-radius: 8px;
	color:#FFF;
	padding:15px 0px;
	text-align: center;}
.bigBtn ul li.reset a,
.bigBtn2 ul li.reset a {
	background-color:#c6c6c6;}
.bigBtn ul li.confirm a,
.bigBtn2 ul li.confirm a {
	background-color:#00923a;}

.thanksTxt {
	text-align: center;
	padding: 100px 0;}


#footer {
	text-align: center;
	padding: 20px 0;}

@media screen and (max-width: 1250px)  {
.cInner {
	width:100%;
	padding:  0 2%;}
}

